In [68]:
import requests
import pandas as pd
import json
from datetime import datetime

## TESLA

In [69]:
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart"

querystring = {"symbol":"TSLA","interval":"1d","range":"10y","region":"US"}

headers = {
    'x-rapidapi-key': "243ef897b3msh844988ee7a01b7fp192ddajsnbd64c87292e2",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

In [71]:
def print_json(response):
    word = json.dumps(response, sort_keys=True, indent=4)
    
    print(word)

    
#print_json(response.json())

In [6]:
data=response.json()

In [17]:
timestam = data["chart"]["result"][0]["timestamp"]
Clos = data["chart"]["result"][0]["indicators"]["quote"][0]["close"]
Ope = data["chart"]["result"][0]["indicators"]["quote"][0]["open"]
lo = data["chart"]["result"][0]["indicators"]["quote"][0]["low"]
hig = data["chart"]["result"][0]["indicators"]["quote"][0]["high"]
Volum = data["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
# AdjClos = data["chart"]["result"][0]["indicators"]["adjclose"][0]['adjclose']

In [18]:
dict_of_lists = {"timestamp":timestam,
                "Close":Clos,
                "Open":Ope,
                "Low":lo,
                "High":hig,
                "Volume":Volum}

In [19]:
Tsla_df = pd.DataFrame(dict_of_lists)

In [20]:
Tsla_df['timestamp'] = Tsla_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

In [21]:
Tsla_df['timestamp'] = Tsla_df['timestamp'].dt.strftime('%Y-%m-%d')

# Tsla_df['timestamp'] = Tsla_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
# Tsla_df['timestamp'] = Tsla_df['timestamp'].dt.strftime('%Y-%m-%d')

In [22]:
Tsla_df.head()

    timestamp  Close   Open    Low   High    Volume
0  2011-04-04  5.166  5.366  5.046  5.400  13046500
1  2011-04-05  5.340  5.180  5.138  5.400  15904500
2  2011-04-06  5.298  5.398  5.160  5.402   6441500
3  2011-04-07  5.448  5.370  5.290  5.588  14051500
4  2011-04-08  5.298  5.516  5.272  5.520   9732000

In [23]:
Tsla_df.tail()

       timestamp       Close        Open         Low        High    Volume
2511  2021-03-26  618.710022  641.869995  599.890015  643.820007  33778400
2512  2021-03-29  611.289978  615.640015  596.020020  616.479980  28637000
2513  2021-03-30  635.619995  601.750000  591.010010  637.659973  39432400
2514  2021-03-31  667.929993  646.619995  641.109985  672.000000  33337300
2515  2021-04-01  661.750000  688.369995  659.419983  692.419983  35298400

In [24]:
Tsla_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  2516 non-null   object
 1   Close      2516 non-null   float64
 2   Open       2516 non-null   float64
 3   Low        2516 non-null   float64
 4   High       2516 non-null   float64
 5   Volume     2516 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 118.1+ KB

In [25]:
#save the list as a csv or excel
Tsla_df.to_csv("TESLA STOCK DATA_10yrs.csv")

#Tsla_df.to_excel("TESLA STOCK DATA_18_01_21.xlsx")

## APPLE

In [26]:
url_2 = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart"

querystring_2 = {"interval":"1d","symbol":"AAPL","range":"10y","region":"US"}

headers_2 = {
    'x-rapidapi-key': "243ef897b3msh844988ee7a01b7fp192ddajsnbd64c87292e2",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }

response_2 = requests.request("GET", url_2, headers=headers_2, params=querystring_2)

In [27]:
def print_json(response_2):
    word = json.dumps(response_2, sort_keys=True, indent=4)
    
    print(word)

    
#print_json(response_2.json())

In [28]:
data_2=response_2.json()

In [29]:
timestam_2 = data_2["chart"]["result"][0]["timestamp"]
Clos_2 = data_2["chart"]["result"][0]["indicators"]["quote"][0]["close"]
Ope_2 = data_2["chart"]["result"][0]["indicators"]["quote"][0]["open"]
lo_2 = data_2["chart"]["result"][0]["indicators"]["quote"][0]["low"]
hig_2 = data_2["chart"]["result"][0]["indicators"]["quote"][0]["high"]
Volum_2 = data_2["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
# AdjClos_2 = data_2["chart"]["result"][0]["indicators"]["adjclose"][0]['adjclose']

In [30]:
dict_of_lists_2 = {"timestamp":timestam_2,
                "Close":Clos_2,
                "Open":Ope_2,
                "Low":lo_2,
                "High":hig_2,
                "Volume":Volum_2}

In [31]:
Appl_df = pd.DataFrame(dict_of_lists)

In [32]:
Appl_df['timestamp'] = Appl_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

In [33]:
Appl_df['timestamp'] = Appl_df['timestamp'].dt.strftime('%Y-%m-%d')

In [34]:
Appl_df.head()

    timestamp  Close   Open    Low   High    Volume
0  2011-04-04  5.166  5.366  5.046  5.400  13046500
1  2011-04-05  5.340  5.180  5.138  5.400  15904500
2  2011-04-06  5.298  5.398  5.160  5.402   6441500
3  2011-04-07  5.448  5.370  5.290  5.588  14051500
4  2011-04-08  5.298  5.516  5.272  5.520   9732000

In [35]:
Appl_df.tail()

       timestamp       Close        Open         Low        High    Volume
2511  2021-03-26  618.710022  641.869995  599.890015  643.820007  33778400
2512  2021-03-29  611.289978  615.640015  596.020020  616.479980  28637000
2513  2021-03-30  635.619995  601.750000  591.010010  637.659973  39432400
2514  2021-03-31  667.929993  646.619995  641.109985  672.000000  33337300
2515  2021-04-01  661.750000  688.369995  659.419983  692.419983  35298400

In [36]:
Appl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  2516 non-null   object
 1   Close      2516 non-null   float64
 2   Open       2516 non-null   float64
 3   Low        2516 non-null   float64
 4   High       2516 non-null   float64
 5   Volume     2516 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 118.1+ KB

In [37]:
#save the list as a csv or excel
Appl_df.to_csv("APPLE STOCK DATA_10yrs.csv")
#Appl_df.to_excel("APPLE STOCK DATA_18_01_21.xlsx")

## JUMIA

In [38]:
url_3 = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart"

querystring_3 = {"interval":"1d","symbol":"JMIA","range":"10y","region":"US"}

headers_3 = {
    'x-rapidapi-key': "243ef897b3msh844988ee7a01b7fp192ddajsnbd64c87292e2",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }

response_3 = requests.request("GET", url_3, headers=headers_3, params=querystring_3)

In [39]:
def print_json(response_3):
    word = json.dumps(response_3, sort_keys=True, indent=4)
    
    print(word)

    
#print_json(response_3.json())

In [40]:
data_3=response_3.json()

In [41]:
timestam_3 = data_3["chart"]["result"][0]["timestamp"]
Clos_3 = data_3["chart"]["result"][0]["indicators"]["quote"][0]["close"]
Ope_3 = data_3["chart"]["result"][0]["indicators"]["quote"][0]["open"]
lo_3 = data_3["chart"]["result"][0]["indicators"]["quote"][0]["low"]
hig_3 = data_3["chart"]["result"][0]["indicators"]["quote"][0]["high"]
Volum_3 = data_3["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
# AdjClos_3 = data_3["chart"]["result"][0]["indicators"]["adjclose"][0]['adjclose']

In [42]:
dict_of_lists_3 = {"timestamp":timestam_3,
                "Close":Clos_3,
                "Open":Ope_3,
                "Low":lo_3,
                "High":hig_3,
                "Volume":Volum_3}

In [43]:
Jmia_df = pd.DataFrame(dict_of_lists_3)

In [44]:
Jmia_df['timestamp'] = Jmia_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
Jmia_df['timestamp'] = Jmia_df['timestamp'].dt.strftime('%Y-%m-%d')

In [45]:
Jmia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  497 non-null    object
 1   Close      497 non-null    float64
 2   Open       497 non-null    float64
 3   Low        497 non-null    float64
 4   High       497 non-null    float64
 5   Volume     497 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 23.4+ KB

In [46]:
Jmia_df.head()

    timestamp      Close       Open        Low       High    Volume
0  2019-04-12  25.459999  18.950001  18.260000  25.459999   9472300
1  2019-04-15  31.910000  26.940001  25.629999  39.950001  12857300
2  2019-04-16  43.040001  35.330002  33.099998  43.500000  12939400
3  2019-04-17  40.070000  47.689999  36.209999  49.770000  14110300
4  2019-04-18  35.150002  38.150002  31.700001  38.400002   6954400

In [47]:
Jmia_df.tail()

      timestamp      Close       Open        Low       High    Volume
492  2021-03-26  34.549999  35.000000  32.330002  35.549999   8441100
493  2021-03-29  31.980000  34.099998  31.600000  34.709999   8423000
494  2021-03-30  35.529999  33.200001  31.650000  35.919998  10986200
495  2021-03-31  35.459999  36.160000  34.790001  36.980000   7370800
496  2021-04-01  38.009998  36.720001  36.099998  38.557999   9858300

In [48]:
#save the list as a csv or excel
Jmia_df.to_csv("JUMIA STOCK DATA_10yrs.csv")
#Jmia_df.to_excel("JUMIA STOCK DATA_18_01_21.xlsx")

## NIO

In [49]:
url_4 = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart"

querystring_4 = {"interval":"60m","symbol":"NIO","range":"2y","region":"US"}

headers_4 = {
    'x-rapidapi-key': "243ef897b3msh844988ee7a01b7fp192ddajsnbd64c87292e2",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }

response_4 = requests.request("GET", url_4, headers=headers_4, params=querystring_4)

print(response_4.text)

In [50]:
def print_json(response_4):
    word = json.dumps(response_4, sort_keys=True, indent=4)
    
    print(word)

    
#print_json(response_4.json())

In [37]:
data_4=response_4.json()

In [38]:
timestam_4 = data_4["chart"]["result"][0]["timestamp"]
Clos_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["close"]
Ope_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["open"]
lo_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["low"]
hig_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["high"]
Volum_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
# AdjClos_4 = data_4["chart"]["result"][0]["indicators"]["adjclose"][0]['adjclose']

In [39]:
dict_of_lists_4 = {"timestamp":timestam_4,
                "Close":Clos_4,
                "Open":Ope_4,
                "Low":lo_4,
                "High":hig_4,
                "Volume":Volum_4}

In [40]:
Nio_df = pd.DataFrame(dict_of_lists_4)

In [41]:
Nio_df['timestamp'] = Nio_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
Nio_df['timestamp'] = Nio_df['timestamp'].dt.strftime('%Y-%m-%d')

In [44]:
Nio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8056 entries, 0 to 8055
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  8056 non-null   object
 1   Close      8051 non-null   float64
 2   Open       8051 non-null   float64
 3   Low        8051 non-null   float64
 4   High       8051 non-null   float64
 5   Volume     8051 non-null   float64
dtypes: float64(5), object(1)
memory usage: 377.8+ KB

In [42]:
Nio_df.head()

    timestamp  Close  Open   Low  High  Volume
0  2019-01-22   6.72  6.72  6.72  6.72     0.0
1  2019-01-22   6.60  6.67  6.53  6.67     0.0
2  2019-01-22   6.69  6.64  6.63  6.69     0.0
3  2019-01-22   6.66  6.66  6.65  6.70     0.0
4  2019-01-22   6.66  6.66  6.65  6.69     0.0

In [43]:
Nio_df.tail()

       timestamp      Close       Open        Low       High     Volume
8051  2021-01-21  58.334801  58.509998  58.220001  58.539001  3679505.0
8052  2021-01-21  58.060000  58.320000  58.000000  58.380000        0.0
8053  2021-01-21  58.100000  58.050000  58.020000  58.140000        0.0
8054  2021-01-22  57.890000  58.060000  57.700000  58.340000        0.0
8055  2021-01-22  57.650000  57.830000  57.520000  57.950000        0.0

In [44]:
#save the list as a csv or excel
Nio_df.to_csv("NIO STOCK DATA_18_01_21.csv")
Nio_df.to_excel("NIO STOCK DATA_18_01_21.xlsx")

## GOOGL

In [51]:
url_5 = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart"

querystring_5 = {"interval":"1d","symbol":"GOOGL","range":"10y","region":"US"}

headers_5 = {
    'x-rapidapi-key': "243ef897b3msh844988ee7a01b7fp192ddajsnbd64c87292e2",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }

response_5 = requests.request("GET", url_5, headers=headers_5, params=querystring_5)

In [52]:
def print_json(response_5):
    word = json.dumps(response_5, sort_keys=True, indent=4)
    
    print(word)

    
#print_json(response_5.json())

In [53]:
data_5=response_5.json()

In [54]:
timestam_5 = data_5["chart"]["result"][0]["timestamp"]
Clos_5 = data_5["chart"]["result"][0]["indicators"]["quote"][0]["close"]
Ope_5 = data_5["chart"]["result"][0]["indicators"]["quote"][0]["open"]
lo_5 = data_5["chart"]["result"][0]["indicators"]["quote"][0]["low"]
hig_5 = data_5["chart"]["result"][0]["indicators"]["quote"][0]["high"]
Volum_5 = data_5["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
# AdjClos_5 = data_5["chart"]["result"][0]["indicators"]["adjclose"][0]['adjclose']

In [55]:
dict_of_lists_5 = {"timestamp":timestam_5,
                "Close":Clos_5,
                "Open":Ope_5,
                "Low":lo_5,
                "High":hig_5,
                "Volume":Volum_5}

In [56]:
GOOGL_df = pd.DataFrame(dict_of_lists_5)

In [57]:
GOOGL_df['timestamp'] = GOOGL_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
GOOGL_df['timestamp'] = GOOGL_df['timestamp'].dt.strftime('%Y-%m-%d')

In [58]:
GOOGL_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  2516 non-null   object
 1   Close      2516 non-null   float64
 2   Open       2516 non-null   float64
 3   Low        2516 non-null   float64
 4   High       2516 non-null   float64
 5   Volume     2516 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 118.1+ KB

In [59]:
GOOGL_df.head()

    timestamp       Close        Open         Low        High    Volume
0  2011-04-04  294.134125  296.796783  291.841827  297.667664   4104891
1  2011-04-05  284.829834  290.830841  283.123108  291.036041  12082905
2  2011-04-06  287.377380  286.376373  284.284271  287.867859   5331263
3  2011-04-07  290.290283  288.153168  287.382385  290.610626   5057937
4  2011-04-08  289.369354  292.737732  289.319305  292.737732   3799796

In [60]:
GOOGL_df.tail()

       timestamp        Close         Open          Low         High   Volume
2511  2021-03-26  2024.729980  2031.790039  2003.849976  2039.390015  1398300
2512  2021-03-29  2045.790039  2022.160034  2005.449951  2049.209961  1324600
2513  2021-03-30  2046.469971  2052.979980  2036.150024  2062.669922  1365600
2514  2021-03-31  2062.520020  2054.399902  2047.000000  2086.260010  2128500
2515  2021-04-01  2129.780029  2092.250000  2091.429932  2135.750000  1994000

In [61]:
#save the list as a csv or excel
GOOGL_df.to_csv("GOOGLE STOCK DATA_10yrs.csv")
#GOOGL_df.to_excel("GOOGLE STOCK DATA_18_01_21.xlsx")