In [1]:
import requests
import pandas as pd
import json
from datetime import datetime

In [2]:
url_4 = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart"

querystring_4 = {"interval":"1d","symbol":"NIO","range":"10y","region":"US"}

headers_4 = {
    'x-rapidapi-key': "243ef897b3msh844988ee7a01b7fp192ddajsnbd64c87292e2",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }

response_4 = requests.request("GET", url_4, headers=headers_4, params=querystring_4)

def print_json(response_4):
    word = json.dumps(response_4, sort_keys=True, indent=4)
    
    print(word)

    
print_json(response_4.json())

In [3]:
data_4=response_4.json()

In [4]:
timestam_4 = data_4["chart"]["result"][0]["timestamp"]
Clos_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["close"]
Ope_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["open"]
lo_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["low"]
hig_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["high"]
Volum_4 = data_4["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
# AdjClos_4 = data_4["chart"]["result"][0]["indicators"]["adjclose"][0]['adjclose']

In [5]:
dict_of_lists_4 = {"timestamp":timestam_4,
                "Close":Clos_4,
                "Open":Ope_4,
                "Low":lo_4,
                "High":hig_4,
                "Volume":Volum_4}

In [6]:
Nio_df = pd.DataFrame(dict_of_lists_4)

In [7]:
Nio_df['timestamp'] = Nio_df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
Nio_df['timestamp'] = Nio_df['timestamp'].dt.strftime('%Y-%m-%d')

In [8]:
Nio_df

      timestamp      Close       Open        Low       High     Volume
0    2018-09-12   6.600000   6.000000   5.350000   6.930000   66849000
1    2018-09-13  11.600000   6.620000   6.520000  12.690000  158346500
2    2018-09-14   9.900000  12.660000   9.220000  13.800000  172473600
3    2018-09-17   8.500000   9.610000   8.500000   9.750000   56323900
4    2018-09-18   7.680000   8.730000   7.670000   9.100000   41827600
..          ...        ...        ...        ...        ...        ...
593  2021-01-21  58.340000  57.020000  55.880001  58.580002   73119500
594  2021-01-22  61.950001  58.950001  58.320000  62.169998  133918100
595  2021-01-25  59.990002  64.050003  58.349998  64.519997  111986400
596  2021-01-26  60.310001  60.040001  58.639999  60.669998   70170900
597  2021-01-27  58.235001  57.950001  57.220001  59.790001   39492589

[598 rows x 6 columns]

In [9]:
#save the list as a csv or excel
Nio_df.to_csv("NIO_STOCK_DATA_10yrs.csv")
# Nio_df.to_excel("NIO STOCK DATA_18_01_21.xlsx")

In [28]:
Nio_df.isnull().sum()

timestamp    0
Close        0
Open         0
Low          0
High         0
Volume       0
dtype: int64

In [30]:
Nio_df.describe()

            Close        Open         Low        High        Volume
count  504.000000  504.000000  504.000000  504.000000  5.040000e+02
mean    11.504643   11.470040   10.997242   11.911329  7.581798e+07
std     14.985613   14.954426   14.309459   15.503830  8.130958e+07
min      1.320000    1.190000    1.190000    1.450000  5.111000e+06
25%      3.017500    3.000000    2.907500    3.110000  2.524420e+07
50%      4.335000    4.355000    4.145000    4.490000  4.767270e+07
75%     13.130000   13.197500   12.480000   13.647500  9.085595e+07
max     62.700001   64.949997   62.189999   66.989998  5.771851e+08